#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  width: 100%;
  top: 0;
}

#menu-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#header > div {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 80%;
}

#search-bar {
  position: relative;
  width: 60%;
}

#search-bar > input {
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  border: none;
}


#search-bar > button {
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}

.header-button {
  padding: 7px 12px;
  border-radius: 15px;
  border: none;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
}

.header-button:hover {
 background-color: black;
 color: white;
}

#sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90%;
  padding: 10px;
  width: 300px;
  border-radius: 0 50px 0 0;
}

.sidebar-tab {
  background-color: transparent;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: large;
}



@media (max-width: 768px) {
  #search-bar {
    display: none;
  }
}


