:root {
  font-size: medium;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h5 {
  margin: 0;
}


html, body {
  height: 100%; /* Đảm bảo chiều cao của phần tử html và body là 100% của màn hình */
  margin: 0;
  padding: 0;
}


* {
  outline: none;
  box-sizing: border-box;
  list-style-type: none;
}

*:focus {
  outline: none;
}
