#auth-background {
    background-color: #FE08D2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-content {
    background-color: white;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-input {
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    gap: 10px;
}

#login-form > div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: start;
}

#login-form > button {
    background-color: #d9d9d9;
    border: none;
    padding: 3px 35px;
    border-radius: 7px;
}

#login-form > button:hover {
    background-color: #FE08D2;
    color: white;
}